<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponto Assesi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="topo">
        <h1>logo</h1>
        <div class="menu">
            
            <a href="/login">Entrar</a>
            <a href="#">Sobre</a>
            <a href="#">Contato</a>
        </div>
    </div>
    <div class="conteinerbox">
        <div class="add">
            <h2>Tabela de Demandas</h2>
        
        </div>
        <button class="addbtn">Adicionar Operador</button>
        <form class="addform" method="post">
            <input type="text" name="nome" placeholder="Nome" size="15" required>
            <input type="button" class="donebtn" name="btn" value="Add">
        </form>

        <div class="boxdemanda">
            
            {%for i in range(0, len)%} 
                <h2>{{list[i]}}</h2> 
            {%endfor%} 
            
        </div>
    </div>
    <div class="footer">
        <p>jshenrique@assesi.com</p>
        <p>(88) 99970 0778</p>
        <p>@jshenrique.py</p>
        <p>Henrique Pinheiro</p>
    </div>



    <script>
        
        const addbtn = document.querySelector('.addbtn')
        const addform = document.querySelector('.addform')
        const donebtn = document.querySelector('.donebtn')
        addbtn.onclick = function(){
            addform.classList.add('active')
            addbtn.classList.add('active')    
        }
        donebtn.onclick = function(){
            addform.classList.remove('active')
            addbtn.classList.remove('active')
        }


        
    </script>
</body>
</html>